:root {
    --color-chessboard-dark: #BF8753;
    --color-chessboard-light: #FEC188;
    --color-chessboard-light-darker: #cd9b6e;
}

html, body {
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;

    background-color: var(--color-chessboard-dark);
}